---
import { CardGrid } from '@astrojs/starlight/components';
import LinkCard from './LinkCard.svelte';
import configs from '../configs';
---

<div>
  {
    configs.map(({ title, style, list }) => (
      <h2>{title}</h2>
      <CardGrid stagger={style === 'stagger'}>
        {
          // @ts-ignore
          list.map(({ title, link, desc }) => (
            <LinkCard title={title} href={link} desc={desc} />
          ))
        }
      </CardGrid>
    ))
  }
</div>