@import "tailwindcss";

@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';

@theme {
  --breakpoint-sm: 40rem;   /* 640px */
  --breakpoint-md: 48rem;   /* 768px */
  --breakpoint-lg: 64rem;   /* 1024px */
  --breakpoint-xl: 80rem;   /* 1280px */
  --breakpoint-2xl: 96rem;  /* 1536px */

  --color-brand: #2196f3;
  --color-black: #212121;
  --color-grey: #565656;
  --color-silver: #ececec;
  --color-warn: #ff9800;
  --color-error: #f44336;
  --color-success: #4caf50;
  --color-info: #2196f3;
  --shadow-custom-white: 8px 8px 20px 2px #ebebeb; 
  --shadow-custom-white-xl: 8px 8px 30px 6px #c3c3c3;
  --shadow-custom-dark: 8px 8px 20px 2px #212121;
  --shadow-custom-dark-xl: 8px 8px 20px 2px #363636;
}